<div class="container-fluid">
  <div class="row">
    <div class="col-12 header">
      <nav class="navbar navbar-toggleable-md navbar-inverse">
        <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="menuButton">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#"><span class="lightedUp">HOME</span> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.districtlines.com/TAT" target="_blank">STORE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://itunes.apple.com/us/artist/tat/id160299008" target="_blank">MUSIC</a>
            </li>
          </ul>
        </div>

      </nav>

    </div>
  </div>
</div>
