<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <nav class="navbar socials">
        <div class="col-12">
    <a href="https://www.facebook.com/tatianademaria" target="_blank"><img src="/img/fb.png" class="footerSocialImg"></a>
    <a href="https://www.youtube.com/channel/UCOuKxdS7pG66ry6i3W0F7LQ" target="_blank"><img src="/img/yt.png" class="footerSocialImg"></a>
    <a href="https://www.instagram.com/tatianademaria/?hl=en" target="_blank"><img src="/img/insta.png" class="footerSocialImg"></a>
    <a href="https://twitter.com/tatianademaria?lang=en" target="_blank"><img src="/img/twitter.png" class="footerSocialImg"></a>
    </div>
</nav>
    </div>
  </div>
</div>
